.canvas {
  pointer-events: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.canvas {
  pointer-events: auto; /* Enable drawing */
}
.text-danger {
  color: red;
  font-weight: 500;
  font-size: 14px;
}
.card {
  background-color: #f9f9f9;
  border-left: 8px solid #135caa;
}
.img-fluid {
max-height: 300px;
max-width: 500px;
}
