.join-btn {
  background-color: #0781cd; /* Blue button */
  border-radius: 50px;
  padding: 8px 24px;
  border: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.white-logo {
  filter: brightness(0) invert(1);
}
